
@{
    ViewBag.Title = "Cadastro";
}

<style>
    .col-md-6 img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
<div class="col-md-12">
    <div class="col-md-6 col-sm-1">
        <a href="/ClientePF/Cadastro"><img src="http://www.automizeup.com/wp-content/uploads/2015/10/clientes.png" height="140" /></a><br>
        <h3>Clientes Pessoa Fisica</h3>
    </div>
    <div class="col-md-6 col-sm-1">
        <a href="/ClientePJ/Index"><img src="https://img.freepik.com/icones-gratis/industria_318-141806.jpg?size=338&ext=jpg" height="140" /></a><br>
        <h3>Clientes Pessoa Juridica</h3>
    </div>
    <div class="col-md-6 col-sm-1">
        <a><img src="http://www.sassolucoes.com.br/wp-content/uploads/2016/09/Carteira_Clientes_Fornecedores_Tela_Sobre.png" height="140" /></a><br>
        <h3>Fornecedores</h3>
    </div>
    <div class="col-md-6 col-sm-1">
        <a><img src="https://image.freepik.com/icones-gratis/carrinho-de-compras-com-o-produto-dentro_318-59544.jpg" height="140" /></a><br>
        <h3>Produtos</h3>
    </div>
    <div class="col-md-6 col-sm-1">
        <a><img src="http://www.arvorecer.com.br/images/worker-icon.png" height="140" /></a><br>
        <h3>Funcionários</h3>
    </div>
</div>

