@{
    ViewBag.Title = "Home Page";
}
<style>
    .col-md-6 img:hover{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>    
<div class="col-md-12">
    <div class="col-md-6 col-sm-1">
        <a href="/Home/Cadastro"><img src="http://www.grupoalliance.com.br/wp-content/uploads/2016/09/%C3%ADcone-cadastro.png" /></a><br>
            <h3>Cadastro</h3>
    </div>
</div>